.restaurant-list {
    cursor: pointer
}
.restaurant-list:hover {
    background: lightskyblue;
}
.custom-btn:hover{
    cursor: pointer;
<<<<<<< HEAD
=======
}
#mypage-link:hover {
    cursor: pointer;
>>>>>>> develop
}