<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>Three Healthy Meals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/style/restaurant-list.css" rel="stylesheet">
</head>
<body>