{{>fragments/header}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="/plugins/chart.js/Chart.min.js"></script>
<script src="/dist/js/demo.js"></script>
<script src="/dist/js/dashboard3.js"></script>
<!-- IonIcons -->
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<!-- jQuery -->


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Health Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Health Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">활동량</h3>
                                <a href="javascript:void(0);">View Report</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">소모칼로리</span>
                                    <span>Today : 820 Kcal</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    <span class="text-success">
                                      <i class="fas fa-arrow-up"></i> 12.5%
                                    </span>
                                    <span class="text-muted">Since last week</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative mb-4">
                                <canvas id="visitors-chart" height="200"></canvas>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <span class="mr-2">
                                    <i class="fas fa-square text-primary"></i> This Week
                                </span>
                                <span>
                                    <i class="fas fa-square text-gray"></i> Last Week
                                </span>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-md-6 -->

                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">활동량</h3>
                                <a href="javascript:void(0);">View Report</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">소모칼로리</span>
                                    <span>AVG : 2,230 kcal</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                      <i class="fas fa-arrow-up"></i> 33.1%
                    </span>
                                    <span class="text-muted">Since last month</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative mb-4">
                                <canvas id="sales-chart" height="200"></canvas>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                  <span class="mr-2">
                                    <i class="fas fa-square text-primary"></i> This year
                                  </span>

                                <span>
                                    <i class="fas fa-square text-gray"></i> Last year
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box bg-info" style="height:200px;">
                        <div style="overflow: hidden;display: flex;align-items: center;justify-content: center;width: 100px;line-height: 100px;">
                            <img src="/img/health.png" style="width: 100px;height: 100px;vertical-align:middle;">
                        </div>

                        <div class="info-box-content">
                            <span class="info-box-text">총 섭취 칼로리</span>
                            <span class="info-box-number">1200 kcal</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 60%"></div>
                            </div>
                            <span class="progress-description">
                              800 kcal 남았습니다!
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Bordered Table</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Task</th>
                                    <th>Progress</th>
                                    <th style="width: 40px">Label</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>탄수화물</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-primary" style="width:100%">480 / 900g</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>단백질</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-warning" style="width: 70%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-warning" style="width:100%">40 / 50g</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>지방</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-danger" style="width: 100%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-danger" style="width:100%">22 / 15g</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>칼륨</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-warning" style="width:72%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-warning" style="width:100%">1.4 / 2g</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>칼슘</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-success" style="width: 16%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-success" style="width:100%">20 / 120mg</span></td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td>비타민A</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 43%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-primary" style="width:100%">43 / 100mg</span></td>
                                </tr>
                                <tr>
                                    <td>7.</td>
                                    <td>비타민C</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-success" style="width: 22%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-success" style="width:100%">22 / 100mg</span></td>
                                </tr>
                                <tr>
                                    <td>8.</td>
                                    <td>식이섬유</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-primary" style="width: 42%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-primary" style="width:100%">8.4 /20mg</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- OPTIONAL SCRIPTS -->

{{>fragments/footer}}