{{>fragments/header}}



<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-12">
                {{#nickName}}
                    <ol class="breadcrumb float-sm-right">
                        <a class="btn btn-primary" href="/mypage">내 정보 페이지</a>
                        <a class="btn btn-primary" href="/logout">로그아웃</a>
                    </ol>
                {{/nickName}}
                {{^nickName}}
                    <ol class="breadcrumb float-sm-right">
                        <a class="btn btn-primary" href="/login">로그인</a>
                    </ol>
                {{/nickName}}
            </div>

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 custom-btn" onclick="location.href='/health'">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">헬스 데이터 조회</h5>
                    </div>
                    <div class="card-body">
                        <center>
                        <div>
                            <img src="/img/health.png" style="width:60%;margin-bottom:10%;" alt="health">
                        </div>
                        </center>
                    </div>
                </div>
            </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-4 custom-btn" onclick="location.href='/restaurants'">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">식당조회</h5>
              </div>
              <div class="card-body">
                  <center>
                      <div>
                          <img src="/img/restaurants.png" style="width:60%;margin-bottom:10%;" alt="restaurants">
                      </div>
                  </center>
              </div>
            </div>
          </div>
            <div class="col-lg-4 custom-btn" onclick="location.href='/mypage'">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">개인정보 조회</h5>
                    </div>
                    <div class="card-body">
                        <center>
                            <div>
                                <img src="/img/user.png" style="width:60%;margin-bottom:10%;" alt="user">
                            </div>
                        </center>
                    </div>
                </div>
            </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{{>fragments/footer}}
