{{>fragments/header}}
<div>
    <ul class="list-group">
        <li class="list-group-item">{{ restaurant.name }}</li>
        <li class="list-group-item">{{ restaurant.address }}</li>
        <li class="list-group-item">{{ restaurant.phoneNumber }}</li>
        <li class="list-group-item">{{ restaurant.longitude }}</li>
        <li class="list-group-item">{{ restaurant.latitude }}</li>
        <li class="list-group-item">{{ restaurant.menu.name }}</li>
        <li class="list-group-item">{{ restaurant.menu.price }} 원</li>
        <li class="list-group-item">{{ restaurant.menu.description }}</li>
        <li class="list-group-item">{{ restaurant.menu.imgUrl }}</li>
        <li class="list-group-item">{{ restaurant.food.name }}</li>
        <li class="list-group-item">탄수화물: {{ restaurant.food.carbohydrate }} g</li>
        <li class="list-group-item">단백질: {{ restaurant.food.protein }} g</li>
        <li class="list-group-item">지방: {{ restaurant.food.fat }} g</li>
    </ul>
    <a class="btn btn-primary" href="/restaurants">뒤로가기</a>
</div>
{{>fragments/footer}}
